body {
    min-height: 100vh;
    background-color: #F1F1F1;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

.navbar {
    width: 100%;
    height: 80px;
    background-color: #111111;
    padding: 0px 25px;
    display: flex;
    align-items: center;
}

.nav__link {
    font-size: 1.2rem;
    line-height: 40px;
    padding: 0px 20px;
    height: 40px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    transition: .2s;
}

.nav__link:hover {
    color: black;
    background-color: white;
    border-radius: 5px;
}

.home,
.success {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.section__title {
    font-size: 2rem;
    margin: 40px auto;
}

.section__subtitle {
    font-size: 1.6rem;
    margin: 0px auto 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(138, 43, 226);
}

.form,
.success__info {
    padding: 40px 50px;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, .1);
    border-radius: 5px;
}

.form__title {
    font-size: 1.6rem;
    margin: 0px auto 30px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.form__label {
    font-size: 1.3rem;
    margin-bottom: 5px;
}

.form__input {
    font-size: 1.2rem;
    margin-bottom: 20px;
    border-color: rgba(0, 0, 0, .1);
    padding: 8px 10px;
    border-radius: 5px;
    box-shadow: inset 0 0 7px rgba(0, 0, 0, .1);
}

.form__button {
    font-size: 1.3rem;
    margin-bottom: 10px;
    width: 120px;
    margin: 20px auto 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    line-height: 40px;
    height: 50px;
    background-color: rgb(138, 43, 226);
    color: white;
    text-transform: uppercase;
    transition: .2s;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.form__button:hover {
    color: white;
    background-color: black;
}

.form__info {
    margin-top: 0;
    color: rgb(138, 43, 226);
    text-align: center;
}